
.app

.app-body
    padding: 2em

.app-nav
    padding: 1em
    padding-left: 2em
    padding-right: 2em
    background-color: rgb(240, 240, 240)

.app-nav-link
    background-color: darkorange
    color: white
    padding: 0.5em
    text-decoration: none
    border-radius: 10%
    font-weight: 500
    &:hover
        background-color: #ffa333
