
.app

.app-body
    padding: 2em

.app-nav
    padding: 1em
    padding-left: 2em
    padding-right: 2em
    background-color: rgb(240, 240, 240)

.app-nav-link
    background-color: darkorange
    color: white
    padding: 0.5em
    text-decoration: none
    border-radius: 10%
    font-weight: 500
    &:hover
        background-color: #ffa333

.board-all-columns
    display: flex
    overflow-x: scroll
    align-items: flex-start

.board-column-wrapper
    border: 1px solid transparent
    display: flex
    min-width: 170px
    height: 60vh;
    &.active
        border-color: red


.board-column
    display: flex
    flex-direction: column
    padding: 1em
    margin: 0.5em
    background: #f3f3f3
    border: 1px solid gainsboro
    border-radius: 0.3em
    box-shadow: 1px 1px 1px grey

.create-column
    word-wrap: none
    white-space: nowrap
    cursor: pointer
    background-color: #f3f3f3
    border: none
    box-shadow: none
    &:hover
        background-color: #e9e9e9

.boards-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly

.board-wrapper
    border-radius: 0.8em
    border: solid 0.10em black
    border-color: #6d6d6d11
    display: flex
    width: 200px
    height: 100px
    margin: 1em

.board-content
    border-radius: 0.8em
    padding: 1em
    width: 100%
    cursor: pointer
    color: inherit
    background-color: #f5f5f5
    &:hover
        background-color: #e9e9e9

.btn
    border: none
    text-decoration: none
    padding: 0.6em 0.8em
    border-radius: 0.2em
    &.btn-primary
        color: white
        background-color: #1aa0ee
        border: 1px solid #158ace
        &:hover
            background-color: #1aa0ee * 1.1
            border: 1px solid #158ace * 1.1
    &.btn-secondary
        background-color: #b9b9b9
        border: 1px solid #c7c7c7
        color: white

.add-board-input
    padding: 5px 10px
    margin: 2px 0 5px
    border-radius: 0.2em
    border: 1px solid lightgray